// Made by:
// 		Krish Dholakiya - http://krrishd.github.io
// 		Colin McIllece - http://definitestudios.com
doctype 5
html
 head
  title weMake - Hackathon for High Schoolers
  link(rel='stylesheet', type='text/css', href='main.css')
  link(href='href="https://plus.google.com/115467666695278588181', rel="publisher")
 body
  header
   h1 weMake
   nav
    a(href='#main') Home
    a(href='#about') About
    a(href='#events') Events
    a(href='#contact') Contact
  != yield
  footer
   p
    | &copy; 2013 <a href='http://teen2geek.com' target="_blank">Teen2Geek</a> and [Education Thing]. All Rights Reserved.