#main
 .content
  h1 It's time to do some hacking.
  h3 At weMake, you'll get to learn how to make websites and software, and compete with other high schoolers for prizes.
#about
 .boxes
  .box.who
   h2 Who?
   ul
    li Non-coders
    li UI/UX Designers
    li Programmers and Developers
  .box.what
   h2 What?
   ul 
    li Learnathon - Learn Development
    li UI Design Competition
    li Web Application Competition
  .box.when
   h2 When and Where?
   ul
    li [TBD]
    li [TBD]